@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
.absoluteCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.inner {
  max-width: 1210px;
  margin: 0 auto;
  padding: 0 15px;
}

.hidden {
  opacity: 0;
}

.visible {
  opacity: 1;
}

.overflowed {
  overflow: hidden;
  padding-right: 17px !important;
  touch-action: none;
  -ms-touch-action: none;
  -webkit-overflow-scrolling: touch;
}

@media (max-width: 1024px) {
  .overflowed {
    padding-right: 0 !important;
  }
}

@font-face {
  font-family: "Abrade-normal";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Abrade-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Abrade";
  font-style: bold;
  font-weight: 700;
  src: url("../fonts/Abrade-Bold.woff2") format("woff2");
}

:root {
  --font-family-main: "Roboto", sans-serif;
  --font-family-title: "Abrade", sans-serif;
  --color-text-grey: #676767;
  --color-border-grey: #e1e1e1;
  --color-black-title: #1e1e1e;
  --font-size-lower-title: 32px;
  --font-size-main: 18px;
  --line-height-main: 1.4;
  --font-size-title: 32px;
  --line-height-title: 1.1;
  --font-size-subtitle: 14px;
  --line-height-subtitle: 1.4;
}

@media (max-width: 768px) {
  :root {
    --font-size-main: 16px;
    --font-size-lower-title: 28px;
  }
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: var(--font-family-main);
  font-size: var(--font-size-main);
  line-height: var(--line-height-main);
  overflow-x: hidden;
  margin: 0;
}

body .container {
  max-width: 1179px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

body h2 {
  font-family: var(--font-family-title);
  font-size: var(--font-size-title);
  line-height: var(--line-height-title);
  font-weight: 700;
  margin-bottom: 30px;
  color: var(--color-black-title);
}

.breadcrumbs-wrapper .container .breadcrumbs {
  color: var(--color-text-grey);
  font-size: var(--font-size-subtitle);
  padding: 30px 0;
  overflow-x: auto;
  white-space: nowrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.breadcrumbs-wrapper .container .breadcrumbs .img-wrapper {
  width: 15px;
  height: 15px;
  text-align: center;
  margin-right: 23px;
}

.breadcrumbs-wrapper .container .breadcrumbs .img-wrapper img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
}

.breadcrumbs-wrapper .container .breadcrumbs a {
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
  text-decoration: none;
  color: var(--color-text-grey);
}

.breadcrumbs-wrapper .container .breadcrumbs a:hover {
  opacity: 0.7;
  cursor: pointer;
}

.breadcrumbs-wrapper .container .breadcrumbs .separator {
  display: inline-block;
  margin: 0 10px;
}

.breadcrumbs-wrapper .container .breadcrumbs .current {
  text-decoration: underline;
}

.alx-head-block {
  margin-bottom: 80px;
}

.alx-head-block h1 {
  font-family: var(--font-family-title);
  font-size: var(--font-size-title);
  line-height: var(--line-height-title);
  font-weight: 700;
  margin-bottom: 30px;
  margin-top: 0;
  color: var(--color-black-title);
}

.alx-head-block .banner {
  min-height: 436px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: url(../images/backgrounds/banner.jpg);
  background-position: 70% 50%;
  background-size: cover;
}

.alx-head-block .banner .banner__info {
  padding: 0 15px;
  max-width: 1179px;
  margin: 0 auto;
  width: 100%;
}

.alx-head-block .banner .banner__info h2 {
  margin-top: 0;
  margin-bottom: 20px;
  max-width: 575px;
  width: 100%;
  font-size: var(--font-size-lower-title);
  color: var(--color-black-title);
}

.alx-head-block .banner .banner__info p {
  max-width: 575px;
  width: 100%;
  margin-bottom: 0;
  color: var(--color-black-title);
}

@media (max-width: 992px) {
  .alx-head-block {
    margin-bottom: 45px;
  }
  .alx-head-block .banner {
    background-position: 65% 50%;
  }
  .alx-head-block .banner .banner__info h2 {
    max-width: 337px;
  }
}

@media (max-width: 768px) {
  .alx-head-block .banner {
    background-position: 30% 50%;
    min-height: 358px;
  }
  .alx-head-block .banner .banner__info h2 {
    max-width: 318px;
  }
}

.alx-pros {
  margin-bottom: 80px;
}

.alx-pros .container h2 {
  max-width: 575px;
  font-size: var(--font-size-lower-title);
  color: var(--color-black-title);
  margin-bottom: 45px;
}

.alx-pros .container .pros__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  grid-gap: 45px;
  margin-bottom: 80px;
}

.alx-pros .container .pros__wrapper .item {
  -ms-flex-preferred-size: 33.3%;
      flex-basis: 33.3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-gap: 20px;
}

.alx-pros .container .pros__wrapper .item .img-wrapper {
  max-width: 66px;
  width: 100%;
  height: 66px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #fec533;
  border-radius: 50%;
  position: relative;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.alx-pros .container .pros__wrapper .item .img-wrapper img {
  height: auto;
  width: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
}

.alx-pros .container .pros__wrapper .item p {
  margin-top: 0;
  color: var(--color-text-grey);
  font-size: var(--font-size-subtitle);
  line-height: var(--line-height-subtitle);
}

.alx-pros .container .pros__cards-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-gap: 20px;
}

.alx-pros .container .pros__cards-wrapper .card {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  border-right: 1px solid var(--color-border-grey);
  padding: 30px 1vw;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.alx-pros .container .pros__cards-wrapper .card:first-child {
  padding-left: 0;
}

.alx-pros .container .pros__cards-wrapper .card:last-child {
  border: none;
  padding-right: 0;
}

.alx-pros .container .pros__cards-wrapper .card h3 {
  margin-top: 0;
  font-size: var(--font-size-subtitle);
  font-family: var(--font-family-title);
  font-weight: 700;
  margin-bottom: 10px;
  text-transform: uppercase;
  color: var(--color-black-title);
}

.alx-pros .container .pros__cards-wrapper .card p {
  margin-bottom: 0;
  font-size: var(--font-size-subtitle);
  color: var(--color-text-grey);
}

@media (max-width: 992px) {
  .alx-pros {
    margin-bottom: 45px;
  }
  .alx-pros .container .pros__wrapper {
    margin-bottom: 35px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    grid-gap: 20px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .alx-pros .container .pros__cards-wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
  }
  .alx-pros .container .pros__cards-wrapper .card {
    border: none;
    padding: 0;
  }
}

@media (max-width: 768px) {
  .alx-pros .container .pros__cards-wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    grid-gap: 0px;
  }
  .alx-pros .container .pros__cards-wrapper .card {
    padding: 30px 0;
    border-top: 1px solid var(--color-border-grey);
  }
  .alx-pros .container .pros__cards-wrapper .card:last-child {
    border-top: 1px solid var(--color-border-grey);
    border-bottom: 1px solid var(--color-border-grey);
  }
}

.alx-slider-block {
  margin-bottom: 80px;
}

.alx-slider-block .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-gap: 2.8vw;
}

.alx-slider-block .container .slider-block__info {
  -ms-flex-preferred-size: 287px;
      flex-basis: 287px;
}

.alx-slider-block .container .slider-block__info h2 {
  margin-bottom: 10px;
  margin-top: 0;
}

.alx-slider-block .container .slider-block__info p {
  margin-bottom: 0;
  font-size: var(--font-size-subtitle);
  color: var(--color-text-grey);
  padding-bottom: 20px;
  border-bottom: 1px solid var(--color-border-grey);
}

.alx-slider-block .container .slider-block__info .address {
  font-size: var(--font-size-subtitle);
  padding-top: 20px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  max-width: 219px;
  color: var(--color-black-title);
}

.alx-slider-block .container .slider-block__slider {
  position: relative;
  -ms-flex-preferred-size: calc(100% - 287px);
      flex-basis: calc(100% - 287px);
  min-width: 0;
  height: 437px;
}

.alx-slider-block .container .slider-block__slider .img-wrapper {
  height: 437px;
  width: 100%;
}

.alx-slider-block .container .slider-block__slider .img-wrapper img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.alx-slider-block .container .slider-block__slider .slick-prev {
  z-index: 4;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
  position: absolute;
  bottom: -24px;
  right: calc(-2.8vw + -46px);
  top: unset;
  left: unset;
  width: 46px;
  height: 46px;
}

.alx-slider-block .container .slider-block__slider .slick-prev:hover {
  opacity: 0.7;
}

.alx-slider-block .container .slider-block__slider .slick-prev::before {
  content: "";
  width: 46px;
  opacity: 1;
  height: 46px;
  display: inline-block;
  border-radius: 50%;
  border: 1px solid var(--color-border-grey);
  z-index: 5;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAiIGhlaWdodD0iMTYiIHZpZXdCb3g9IjAgMCAxMCAxNiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTggMi40NTg1TDIgOC40NTg1TDggMTQuNDU4NSIgc3Ryb2tlPSJibGFjayIgc3Ryb2tlLXdpZHRoPSIzIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiLz4KPC9zdmc+Cg==");
  background-repeat: no-repeat;
  background-position: 48% 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  position: absolute;
  top: 0;
}

.alx-slider-block .container .slider-block__slider .slick-next {
  z-index: 4;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
  position: absolute;
  bottom: -24px;
  right: calc(-2.8vw + -110px);
  top: unset;
  left: unset;
  width: 46px;
  height: 46px;
}

.alx-slider-block .container .slider-block__slider .slick-next:hover {
  opacity: 0.7;
}

.alx-slider-block .container .slider-block__slider .slick-next::before {
  content: "";
  width: 46px;
  opacity: 1;
  height: 46px;
  display: inline-block;
  border-radius: 50%;
  border: 1px solid var(--color-border-grey);
  z-index: 5;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAiIGhlaWdodD0iMTYiIHZpZXdCb3g9IjAgMCAxMCAxNiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTIgMkw4IDhMMiAxNCIgc3Ryb2tlPSJibGFjayIgc3Ryb2tlLXdpZHRoPSIzIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiLz4KPC9zdmc+Cg==");
  background-repeat: no-repeat;
  background-position: 52% 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  position: absolute;
  top: 0;
}

@media (max-width: 992px) {
  .alx-slider-block {
    margin-bottom: 45px;
  }
  .alx-slider-block .container {
    grid-gap: 42px;
    -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
  }
  .alx-slider-block .container .slider-block__info {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .alx-slider-block .container .slider-block__slider {
    height: 60vw;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .alx-slider-block .container .slider-block__slider .slick-list {
    margin: 0 -15px 0 0;
  }
  .alx-slider-block .container .slider-block__slider .slick-list .img-wrapper {
    height: 60vw;
    width: 88vw;
    margin-right: 15px;
  }
  .alx-slider-block .container .slider-block__slider .slick-list .img-wrapper img {
    -o-object-fit: cover;
       object-fit: cover;
  }
}

.alx-certificates {
  margin-bottom: 80px;
}

.alx-certificates .container h2 {
  margin-bottom: 10px;
}

.alx-certificates .container p {
  max-width: 674px;
  font-size: var(--font-size-subtitle);
  color: #4a4a4a;
}

.alx-certificates .container .certificates__slider {
  margin-top: 30px;
  position: relative;
}

.alx-certificates .container .certificates__slider .slick-list {
  margin: 0 -10px;
}

.alx-certificates .container .certificates__slider .slick-list .slick-track {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.alx-certificates .container .certificates__slider .slick-list .slick-track .img-wrapper {
  margin: 0 10px;
  height: auto;
}

.alx-certificates .container .certificates__slider .slick-list .slick-track .img-wrapper img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
}

.alx-certificates .container .certificates__slider .slick-prev {
  z-index: 4;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
  position: absolute;
  left: -21px;
  top: 50%;
  width: 46px;
  height: 46px;
}

.alx-certificates .container .certificates__slider .slick-prev:hover {
  opacity: 0.7;
}

.alx-certificates .container .certificates__slider .slick-prev::before {
  content: "";
  width: 46px;
  opacity: 1;
  height: 46px;
  display: inline-block;
  border-radius: 50%;
  border: 1px solid var(--color-border-grey);
  z-index: 5;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAiIGhlaWdodD0iMTYiIHZpZXdCb3g9IjAgMCAxMCAxNiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTggMi40NTg1TDIgOC40NTg1TDggMTQuNDU4NSIgc3Ryb2tlPSJibGFjayIgc3Ryb2tlLXdpZHRoPSIzIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiLz4KPC9zdmc+Cg==");
  background-repeat: no-repeat;
  background-position: 48% 50%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
}

.alx-certificates .container .certificates__slider .slick-next {
  z-index: 4;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
  position: absolute;
  top: 50%;
  right: -23px;
  width: 46px;
  height: 46px;
}

.alx-certificates .container .certificates__slider .slick-next:hover {
  opacity: 0.7;
}

.alx-certificates .container .certificates__slider .slick-next::before {
  content: "";
  width: 46px;
  opacity: 1;
  height: 46px;
  display: inline-block;
  border-radius: 50%;
  border: 1px solid var(--color-border-grey);
  z-index: 5;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAiIGhlaWdodD0iMTYiIHZpZXdCb3g9IjAgMCAxMCAxNiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTIgMkw4IDhMMiAxNCIgc3Ryb2tlPSJibGFjayIgc3Ryb2tlLXdpZHRoPSIzIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiLz4KPC9zdmc+Cg==");
  background-repeat: no-repeat;
  background-position: 52% 50%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
}

@media (max-width: 992px) {
  .alx-certificates {
    margin-bottom: 45px;
  }
  .alx-certificates .container .certificates__slider {
    margin: 30px -15px 0 0;
  }
  .alx-certificates .container .certificates__slider .slick-list {
    margin: 0 -7px;
  }
  .alx-certificates .container .certificates__slider .slick-list .img-wrapper {
    max-width: 176px;
    width: 100%;
    margin: 0 7px;
  }
}

.alx-contacts {
  margin-bottom: 80px;
}

.alx-contacts h1 {
  font-family: var(--font-family-title);
  font-size: var(--font-size-title);
  line-height: var(--line-height-title);
  font-weight: 700;
  margin-bottom: 30px;
  margin-top: 0;
  color: var(--color-black-title);
}

.alx-contacts .container h3 {
  font-size: var(--font-size-main);
  font-weight: 700;
  margin-bottom: 25px;
  color: var(--color-black-title);
}

.alx-contacts .container .contacts__cards-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-gap: 60px;
}

.alx-contacts .container .contacts__cards-wrapper .card {
  max-width: 321px;
  width: 100%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  grid-gap: 20px;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.alx-contacts .container .contacts__cards-wrapper .card .icon-wrapper {
  max-width: 66px;
  width: 100%;
  height: 66px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #fec533;
  border-radius: 50%;
  position: relative;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.alx-contacts .container .contacts__cards-wrapper .card .icon-wrapper img {
  height: auto;
  width: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
}

.alx-contacts .container .contacts__cards-wrapper .card .card__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.alx-contacts .container .contacts__cards-wrapper .card .card__info h4 {
  font-size: var(--font-size-subtitle);
  font-weight: 700;
  margin-bottom: 3px;
  margin-top: 0;
  color: var(--color-black-title);
}

.alx-contacts .container .contacts__cards-wrapper .card .card__info .underlined {
  border-bottom: 1px dotted #4486c3;
  display: inline-block;
  text-decoration: none;
}

.alx-contacts .container .contacts__cards-wrapper .card .card__info a {
  color: #4486c3;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
  font-size: var(--font-size-main);
  margin-bottom: 8px;
  text-decoration: none;
}

.alx-contacts .container .contacts__cards-wrapper .card .card__info a:hover {
  opacity: 0.7;
}

.alx-contacts .container .contacts__cards-wrapper .card .card__info .subtitle {
  font-size: var(--font-size-subtitle);
  color: var(--color-text-grey);
}

.alx-contacts .container .tab-buttons {
  border-bottom: 1px solid var(--color-border-grey);
  margin-top: 50px;
}

.alx-contacts .container .tab-buttons .scroll-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  white-space: nowrap;
  grid-gap: 40px;
}

.alx-contacts .container .tab-buttons .scroll-wrapper button {
  outline: none;
  border: none;
  padding: 20px 0;
  background-color: transparent;
  position: relative;
  font-size: var(--font-size-main);
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
  border-radius: 0;
  margin: 0;
  text-transform: uppercase;
  font-family: "Abrade-normal";
  color: var(--color-black-title);
  font-weight: 500;
}

.alx-contacts .container .tab-buttons .scroll-wrapper button:hover {
  opacity: 0.7;
  cursor: pointer;
}

.alx-contacts .container .tab-buttons .scroll-wrapper button.active {
  color: #088fea;
  border-bottom: 2px solid #088fea;
  padding: 20px 0 18px 0;
}

@media (max-width: 992px) {
  .alx-contacts .container .tab-buttons {
    overflow-x: scroll;
    overflow-y: auto;
    margin-top: 30px;
  }
}

.alx-contacts .container .tab-item {
  font-size: var(--font-size-subtitle);
  font-weight: 700;
  margin-bottom: 6px;
  padding-top: 30px;
}

.alx-contacts .container .tab-item h4 {
  font-size: var(--font-size-main);
  font-weight: 700;
  margin-bottom: 12px;
  margin-top: 0;
  color: var(--color-black-title);
}

.alx-contacts .container .tab-item h4.sec {
  margin-top: 30px;
}

.alx-contacts .container .tab-item .tab-item__content-wrapper {
  margin-top: 30px;
  grid-gap: 40px;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.alx-contacts .container .tab-item .tab-item__content-wrapper .tab-item__link {
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 16px;
  grid-gap: 15px;
  color: #4486c3;
  white-space: nowrap;
  max-width: 210px;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  font-weight: 500;
}

.alx-contacts .container .tab-item .tab-item__content-wrapper .tab-item__link .img-wrapper {
  width: 18px;
  height: 18px;
}

.alx-contacts .container .tab-item .tab-item__content-wrapper .address-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-gap: 14px;
  max-width: 210px;
  width: 100%;
}

.alx-contacts .container .tab-item .tab-item__content-wrapper .address-item:last-child {
  max-width: unset;
  width: unset;
}

.alx-contacts .container .tab-item .tab-item__content-wrapper .address-item .img-wrapper {
  width: 18px;
  height: 18px;
}

.alx-contacts .container .tab-item .tab-item__content-wrapper .address-item .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  grid-gap: 5px;
}

.alx-contacts .container .tab-item .tab-item__content-wrapper .address-item .info h4 {
  font-size: var(--font-size-subtitle);
  margin-top: 0;
  margin-bottom: 0;
  color: var(--color-black-title);
}

.alx-contacts .container .tab-item .tab-item__content-wrapper .address-item .info .subtitle {
  font-size: var(--font-size-subtitle);
  color: #4a4a4a;
  font-weight: 400;
  margin-bottom: 0;
}

.alx-contacts .container .tab-item .tab-item__content-wrapper .address-item .info .red {
  color: red;
  text-decoration: underline;
  font-weight: 400;
  font-size: var(--font-size-subtitle);
}

@media (max-width: 768px) {
  .alx-contacts .container .tab-item .tab-item__content-wrapper {
    grid-gap: 30px;
  }
}

.alx-contacts .container .tab-item iframe {
  min-height: 341px;
  width: 100%;
}

@media (max-width: 768px) {
  .alx-contacts .container .tab-item iframe {
    min-height: 260px;
  }
}

.alx-contacts .container .tab-item .tab-item__foot-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  grid-gap: 8px;
  margin-top: 30px;
}

.alx-contacts .container .tab-item .tab-item__foot-block h4 {
  margin-bottom: 7px;
}

.alx-contacts .container .tab-item .tab-item__foot-block span {
  color: var(--color-text-grey);
  text-transform: uppercase;
  font-weight: 400;
  font-size: var(--font-size-subtitle);
}

@media (max-width: 992px) {
  .alx-contacts {
    margin-bottom: 40px;
  }
  .alx-contacts .container .tab-buttons {
    margin-right: -15px;
  }
  .alx-contacts .container .tab-buttons .scroll-wrapper button {
    font-size: 16px;
  }
  .alx-contacts .container .tab-item .tab-item__content-wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (max-width: 768px) {
  .alx-contacts .container .contacts__cards-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    grid-gap: 30px;
  }
}

.fancybox__container {
  color: #000;
  --carousel-button-svg-filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0));
}

.fancybox__container .fancybox__toolbar {
  background: none;
}

.fancybox__container .fancybox__backdrop {
  background: var(--fancybox-bg, rgba(24, 24, 27, 0.52));
}

.fancybox__container .fancybox__button--fullscreen,
.fancybox__container .fancybox__button--thumbs,
.fancybox__container .carousel__track,
.fancybox__container .fancybox__button--zoom,
.fancybox__container .fancybox__button--slideshow,
.fancybox__container .fancybox__counter {
  display: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.fancybox__container .carousel__button.is-next {
  background-color: trnasparent;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
  z-index: 2;
}

.fancybox__container .carousel__button.is-next:hover {
  opacity: 0.7;
}

.fancybox__container .carousel__button.is-next svg {
  width: 20px;
}

.fancybox__container .carousel__button.is-next::before {
  content: "";
  width: 46px;
  height: 46px;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  top: 0;
  z-index: 10;
  left: 0;
  border: 1px solid var(--color-border-grey);
  background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAiIGhlaWdodD0iMTYiIHZpZXdCb3g9IjAgMCAxMCAxNiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTIgMkw4IDhMMiAxNCIgc3Ryb2tlPSJibGFjayIgc3Ryb2tlLXdpZHRoPSIzIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiLz4KPC9zdmc+Cg==");
  background-repeat: no-repeat;
  background-position: 52% 50%;
}

.carousel__button.is-prev {
  background-color: trnasparent;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
  z-index: 2;
}

.carousel__button.is-prev:hover {
  opacity: 0.7;
}

.carousel__button.is-prev svg {
  width: 20px;
}

.carousel__button.is-prev::before {
  content: "";
  width: 46px;
  height: 46px;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  top: 0;
  z-index: 10;
  left: 0;
  border: 1px solid var(--color-border-grey);
  background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAiIGhlaWdodD0iMTYiIHZpZXdCb3g9IjAgMCAxMCAxNiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTggMi40NTg1TDIgOC40NTg1TDggMTQuNDU4NSIgc3Ryb2tlPSJibGFjayIgc3Ryb2tlLXdpZHRoPSIzIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiLz4KPC9zdmc+Cg==");
  background-repeat: no-repeat;
  background-position: 48% 50%;
}
/*# sourceMappingURL=style.css.map */