.absoluteCenter {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.inner {
	max-width: 1210px;
	margin: 0 auto;
	padding: 0 15px;
}

.hidden {
	opacity: 0;
}

.visible {
	opacity: 1;
}

.overflowed {
	overflow: hidden;
	padding-right: 17px !important;
	touch-action: none;
	-ms-touch-action: none;
	-webkit-overflow-scrolling: touch;

	@media (max-width: 1024px) {
		padding-right: 0 !important;
	}
}

@import "_variables";
@import "_main";
@import "_ui";
